@page "/home"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Home</PageTitle>


<AuthorizeView>
    <Authorized>
        <h1>Welcome, @context.User.Identity?.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome, Guest!</h1>
    </NotAuthorized>
</AuthorizeView>


<AuthorizeView>
    <Authorized>
        <h3>Welcome, you are logged in!</h3>
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized to view this content.</h3>
        <a href="/login">Login</a>
    </NotAuthorized>
</AuthorizeView>


<AuthorizeView Roles="Admin">
	<Authorized>
		<h3>Admin Dashboard</h3>
	</Authorized>
</AuthorizeView>
