@page "/home"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>Welcome, you are logged in!</h3>
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized to view this content.</h3>
        <a href="/login">Login</a>
    </NotAuthorized>
</AuthorizeView>


<AuthorizeView Roles="Admin">
	<Authorized>
		<h3>Admin Dashboard</h3>
	</Authorized>
</AuthorizeView>
