@page "/register"
@* @layout BlankLayout
 *@
@using Authentication.Shared.Models
@using Authentication.WebHost.Client.Layout

@inject AuthService AuthService
@inject NavigationManager Navigation

<h3>Register</h3>

@if (errorMessage != null)
{
	<p style="color:red">@errorMessage</p>
}

<input @bind="email" placeholder="Email" />
<input @bind="password" placeholder="Password" />
<button @onclick="RegisterUser">Register</button>

@code {
	private string email;
	private string password;
	private string errorMessage;

	private async Task RegisterUser()
	{
		User user = new()
			{
				Email = email,
				Password = password,
				Name = email,
			};

		bool success = await AuthService.Register(user);
		if (success)
		{
			Navigation.NavigateTo("/login"); // Redirect to dashboard after login
		}
		else
		{
			errorMessage = "Invalid credentials!";
		}
	}
}
