@page "/roles"

<h3>Role Management</h3>

<div class="mb-4 mt-4">
	<button class="btn btn-primary" @onclick="() => EditRole(string.Empty)">Add</button>
</div>

@if (roles == null)
{
	<p>Loading roles...</p>
}
else
{
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Role ID</th>
				<th>Role Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var role in roles)
			{
				<tr>
					<td>@role.Id</td>
					<td>@role.Name</td>
					<td>
						<button class="btn btn-warning" @onclick="() => EditRole(role.Id)">Edit</button>
						<button class="btn btn-danger" @onclick="() => DeleteRole(role.Id)">Delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>

}

@if (showEditModel)
{
	<RoleAddEditModal Id="@editingRoleId" IsClosed="async () => {showEditModel = false; await LoadRoles();}" />
}