@page "/weather"
@using Authentication.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

<PageTitle>User</PageTitle>

<button @onclick="LogoutUser">Logout</button>

<h1>User</h1>


<AuthorizeView>
	<Authorized>
		<h3>Welcome, you are logged in!</h3>
	</Authorized>
	<NotAuthorized>
		<h3>You are not authorized to view this content.</h3>
		<a href="/login">Login</a>
	</NotAuthorized>
</AuthorizeView>


<AuthorizeView Roles="Admin">
	<Authorized>
		<h3>Admin Dashboard</h3>
	</Authorized>
</AuthorizeView>

<p>This component demonstrates showing data.</p>

@if (Users == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Password</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Users)
			{
				<tr>
					<td>@user.Name</td>
					<td>@user.Email</td>
					<td>@user.Password</td>
				</tr>
			}
		</tbody>
	</table>
}


 